<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @top.title %>
</p>

<p>
  <strong>Mess:</strong>
  <%= @top.mess %>
</p>

<%= link_to 'Edit', edit_top_path(@top) %> |
<%= link_to 'Back', tops_path %>
