<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @ti_tle.title %>
</p>

<p>
  <strong>Message:</strong>
  <%= @ti_tle.message %>
</p>

<%= link_to 'Edit', edit_ti_tle_path(@ti_tle) %> |
<%= link_to 'Back', ti_tles_path %>
